<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>{{htmlWEbPackPlugin.options.title}}</title>
        <meta name="description" content="{{htmlWEbPackPlugin.options.description}}">
    </head>

    <body>
    </body>

</html>